.nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-bar ul li {
    margin-right: 30px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar h1 {
    font-weight: 500;
    margin: 0;
}

.nav-bar .search-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.058);
}

.nav-bar .search-box img {
    width: 20px;
    height: 20px;
}

.nav-bar .search-box input {
    border: none;
    outline: none;
    width: 20vw;
    height: 40px;
    margin-left: 8px;
    font-size: 16px;
}

.cart {
    width: 32px;
    height: 32px;
}

.search-cart-container {
    display: flex;
    align-items: center;
}

.search-cart-container .profile {
    width: 40px;
    height: 40px;
    border: 1.5px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search-cart-container .profile img {
    width: 100%;
    height: 100%;
}

.search-cart-container a {
    text-decoration: none;
    color: black;
}

.cart-with-badge {
    position: relative;
    cursor: pointer;
}

.badge {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -16px;
}
