* {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ordered-item {
    font-size: 18px;
    font-weight: 500;
}

.ordered-item img {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.delivery, .payment {
    font-size: 18px;
}

.info-label {
    display: inline-block;
    width: 150px;
}

.address-info-container, .payment-info-container {
    border: 1px solid lightgray;
    padding: 24px;
    border-radius: 16px;
}

.address-info-container i, .payment-info-container i {
    width: 24px;
    text-align: center;
}